@use "../mixin" as *;

.p-guideline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  label {
    border-bottom: solid 1px $accentcolor;
    color: $accentcolor;
    padding: 0.7em $fn * 2;
    cursor: pointer;
    order: -1; /* 上に表示 */
    text-align: center;
  }

  input {
    display: none;
  }

  .c-layout__content {
    display: none;
    width: 100%;
    padding: 1.5em 0;
  }
  label:has(:checked) {
    color: $basecolor;
    background-color: $accentcolor;
    border-bottom: none;
  }

  label:has(:checked) + .c-layout__content {
    display: block;
  }

  ul {
    li {
      list-style-type: disc;
      margin-bottom: 1rem;
    }
  }
}
