@use "../mixin" as *;

.p-info {
  width: clamp(1px, 100%, 1080px);
  @include margin(0, auto, $fb * 8, auto);

  h2 {
    width: 100%;
    max-height: 48px;

    @include mq() {
      max-height: 3.5rem;
      text-align: center;
    }

    img {
      object-fit: contain;
      width: auto;
      height: 100%;
      max-height: 48px;

      @include mq() {
        max-height: 3.5rem;
        margin-bottom: $fn;
      }
    }
  }

  &-news {
    margin-bottom: $fb * 4;
    &__list {
      display: flex;
      flex-direction: column;
      width: clamp(1px, 100%, 1080px);
      @include margin(0, 0, $fb, 0);
    }
    &__item {
      color: $basecolor;
      display: flex;
      align-items: center;
      border-top: solid 1px $accentcolor;
      background-color: rgba(109, 109, 109, 0.7);
      @include padding($fb, $fb, $fb, $fb);
      position: relative;
      z-index: 0;
      overflow: hidden;

      @include mq() {
        flex-direction: column;
        align-items: flex-start;
      }

      &:last-child {
        border-bottom: solid 1px $accentcolor;
      }

      dt {
        width: clamp(10em, 100%, 14em);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: rgba($accentcolor, 1);
        transition: all 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover::before {
        width: 100%;
      }

      &::after {
        content: "";
        display: inline-block;
        width: $fb;
        height: $fb;
        background-image: url("../static/img/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @include margin(0, 0, 0, auto);

        @include mq() {
          display: none;
        }
      }
    }
  }

  &-link {
    &__list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: $fn;
      @include margin(0, 0, $fb, 0);

      @include mq() {
        gap: $fn;
      }

      a {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
