@use "../mixin" as *;

.p-profile {
  margin-top: $fb * 3;
  margin-bottom: $fb * 8;

  &__layout {
    // background-image: linear-gradient(
    //     to bottom,
    //     rgba(255, 255, 255, 0),
    //     rgba(255, 255, 255, 0) 50%,
    //     rgba(255, 255, 255, 0.1) 50%,
    //     rgba(255, 255, 255, 0.1)
    //   ),
    //   url("../static/img/bg.png"), url("../static/img/bg.jpg");
    // background-size: 100% 4px, cover, 100%;
    // background-attachment: fixed, fixed, fixed;
    // background-repeat: repeat, no-repeat, no-repeat;
    // background-position: center, center, top;
    // background-blend-mode: hard-light, hard-light, normal;

    background-color: $accentcolor;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: $fn;
    padding-top: $fb;
    width: 100%;
    min-height: 350px;

    @include mq() {
      flex-direction: column;
      align-items: center;
    }

    h2 {
      width: clamp(1px, 100%, 400px);
      margin-bottom: 0;
      padding-bottom: $fn;
    }

    figure {
      width: clamp(1px, 100%, 300px);
    }
  }

  &__biography {
    color: #fff;
    width: clamp(1px, 85%, 40em);
    margin: 0 auto;
    padding-top: $fb;

    p {
      margin-bottom: 1rem;
    }
  }
}
