@use "../mixin" as *;

.p-profile {
  margin-top: $fb * 2;
  margin-bottom: $fb * 4;

  &__bg-image {
    position: relative;
    background-color: $basecolor;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1)
      );
      mask-size: 100% 4px;

      @include mq() {
        aspect-ratio: 16/9;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(90deg, $basecolor, transparent 30%);

      @include mq() {
        display: none;
      }
    }
  }

  &__layout {
    position: relative;
    padding-top: $fb;
    width: 100%;
    aspect-ratio: 3/1;

    h2 {
      position: absolute;
      bottom: -10%;
      left: 15%;
      width: clamp(1px, 90%, 400px);
      margin-bottom: 0;
      padding-bottom: $fn;

      @include mq() {
        position: static;
        width: clamp(1px, 80%, 350px);
        @include margin($fn, auto, $fn, auto);
      }
    }

    span {
      width: clamp(1px, 100%, 200px);
    }
  }

  &__biography {
    position: relative;
    background-color: $gray;
    color: $basecolor;
    width: clamp(1px, 85%, 48em);
    @include margin($fb * 2, auto, $fb, auto);
    @include padding($fb * 2, 4em, $fb * 2, 4em);

    @include mq() {
      @include margin($fb, auto, $fb, auto);
      @include padding(2em, $fn, 2em, $fn);
    }

    p {
      margin-bottom: 1rem;
    }
    &__grid {
      display: grid;
      grid-template-columns: 1fr 200px;
      align-items: center;
      column-gap: $fn;
      margin-bottom: $fb;

      @include mq() {
        display: block;
      }
      h3 {
        font-size: $fb;
      }
      figure {
        border: solid 2px $basecolor;
      }
    }
  }

  &__details {
    &__sp {
      display: none;
    }

    @include mq {
      &__sp {
        display: block;
        margin-top: $fn;
      }
      &__pc {
        display: none;
      }
    }
  }
}
