@use "../mixin" as *;

.p-works {
  width: 100%;
  h2 {
    width: 100%;
    max-height: 64px;
    text-align: center;

    @include mq() {
      max-height: 3.5rem;
    }

    img {
      object-fit: contain;
      width: auto;
      height: 100%;
      max-height: 64px;

      @include mq() {
        max-height: 3.5rem;
        margin-bottom: $fn;
      }
    }
  }

  > a {
    display: block;
    @include margin(0, auto, $fb * 2, auto);
    width: fit-content;
  }

  section {
    margin-bottom: $fb * 4;
    width: clamp(1px, 80%, 880px);
    display: grid;
    grid-template-columns: minmax(auto, 250px) 1fr;
    column-gap: $fn;

    @include mq() {
      grid-template-columns: 1fr;
    }

    &:nth-of-type(even) {
      margin-left: auto;
      margin-right: 0;
    }
  }
  h3 {
    width: 100%;
    max-height: 48px;
    align-self: end;
    text-align: end;
    margin-bottom: 0 !important;

    @include mq() {
      max-height: 3.5rem;
      text-align: center;
      padding-bottom: 1rem;
    }

    img {
      object-fit: contain;
      width: auto;
      height: 100%;
      max-height: 48px;

      @include mq() {
        max-height: 3.5rem;
        margin-bottom: $fn;
        padding-bottom: 1rem;
      }
    }
  }

  &__content {
    width: 100%;
  }

  &__banner {
    a {
      aspect-ratio: 16/9;
      background-color: rgba(109, 109, 109, 0.5);
      border: solid 1px $accentcolor;
      display: grid;
      place-content: center;
      @include padding($fb, $fn, $fb, $fn);

      img {
        aspect-ratio: 16/9;
        object-fit: contain;
      }
    }
  }

  &__button-flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
    column-gap: 1rem;
    @include mq() {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      place-items: center;
    }

    .c-button {
      @include margin(0, 0, 0, 0);
      @include padding(1rem, $fn, 1rem, $fn);
      width: 100%;

      &::after {
        display: none;
      }

      @include mq() {
        width: fit-content;
      }
    }
  }

  &__hover {
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: rgba($accentcolor, 0.6);
      transition: all 0.2s ease-in-out;
      z-index: 1;
      mix-blend-mode: overlay;
      pointer-events: none;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__music {
    .youtube {
      width: 100%;
      aspect-ratio: 16 / 9;
      margin-bottom: $fb;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__art {
    figure {
      margin-bottom: $fb;
    }
  }

  &__shop {
    a {
      display: block;
      border: solid 1px $accentcolor;
    }
  }
}
