@use "../mixin" as *;

.c-carousel {
  &__wrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas: "item item item" "left markers right";
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: $fn;
    row-gap: $fb;
  }

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-area: item;
    gap: 120px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    scrollbar-width: auto;

    @supports selector(::scroll-button(*)) {
      scroll-marker-group: after;
      scrollbar-width: none;

      &::scroll-marker-group {
        display: flex;
        justify-content: center;
        gap: 1rem;
        grid-area: markers;
        align-items: center;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
      }
    }
  }

  &__item {
    width: 42vw;
    aspect-ratio: 16/9;
    background-color: rgba(109, 109, 109, 0.5);
    border: solid 1px $accentcolor;
    display: grid;
    place-content: center;

    @include mq() {
      width: 68vw;
    }

    &::scroll-marker {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: rgba(109, 109, 109, 0.7);
    }
    &::scroll-marker:target-current {
      background-color: $accentcolor;
    }
    a {
      display: block;
      aspect-ratio: 16/9;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
