@use "../mixin" as *;

.c-footer {
  text-align: center;
  display: grid;
  place-content: center;
  margin-top: $fb * 4;
  h1 {
    width: clamp(1px, 100%, 100px);
    @include margin(0, auto, $fb, auto);
  }

  &__nav {
    @include margin(0, auto, $fb * 2, auto);
    ul {
      display: flex;
      gap: $fn;
      margin-bottom: $fn;

      @include mq() {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
      }
    }
  }
}
