@use "../mixin" as *;

.c-layout {
  position: relative;

  &__container {
    width: clamp(300px, 85%, 1200px);
    margin: 0 auto;
  }

  &__content {
    margin-bottom: $fb * 8;

    > section {
      color: #fff;
      width: clamp(1px, 100%, 40em);
      margin: $fb * 2 auto;

      h3 {
        margin-bottom: $fn;
      }
    }
  }

  &__subpage {
    margin-top: $fb * 4;
    h2 {
      text-align: center;
    }
  }
}

/*** 背景 ***/

.c-layout {
  @keyframes periodic-shake {
    0%,
    99% {
      transform: translateX(0);
      filter: blur(0);
    }
    99% {
      transform: translateX(-4px);
      filter: blur(2px);
    }
    100% {
      transform: translateX(0);
      filter: blur(0);
    }
  }

  // 適用するクラス
  &__bgnoise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    background-image: url("../static/img/bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: hard-light;

    // 10秒かけて1周、無限ループ
    animation: periodic-shake 6s alternate infinite;
    animation-timing-function: steps(1, end);

    // 処理を軽くするためのプロパティ
    will-change: transform;
    backface-visibility: hidden;
  }

  &__scanlines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; // クリックを透過させる（必須）
    z-index: -1;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1)
    );
    background-size: 100% 4px;
    background-blend-mode: hard-light;
  }
}
