@use "../mixin" as *;

.c-textlink {
  color: $accentcolor;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 50%,
    rgba($accentcolor, 1) 50%
  );
  background-position: 0 0;
  background-size: 200% auto;
  transition: 0.1s;
  @include padding(0, 0.5rem, 0, 0.5rem);

  &:hover {
    background-position: -100% 0;
    color: $basecolor;
  }
}
